<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div id="main">
    <H1>Загрузка картинок</H1>

    <H3>multipart/form-data</H3>
    <input accept="image/gif, image/jpeg, image/png" id="multi-input" 
                multiple name="file" type="file" @change="previewMulti">
    <button @click="postMulti">Upload</button>

    <div id="multi-preview" class="preview">
        <ul>
            <li v-for="img in multiImages">
                <div class="image">
                    <img :src="img.url" alt="image">
                </div>  
            </li>
        </ul>
    </div>

    <H3>Base64 Json</H3>
    <input id="base64-input" class="preview" accept="image/gif, image/jpeg, image/png" 
                                multiple name="file" type="file" @change="previewBase64">
    <button @click="postBase64">Upload</button>

    <div id="base64-preview" class="preview">
        <ul>
            <li v-for="img in base64Images">
                <div class="image">
                    <img :src="img.url" alt="image">
                </div>
            </li>
        </ul>
    </div>
	
	<H3>URl Json</H3>
    <input id="url-input" class="preview" name="file" type="text">
    <button @click="addUrl">Add image</button>
    <button @click="postUrl">Upload</button>

    <div id="url-preview" class="preview">
        <ul>
            <li v-for="img in urlImages">
                <div class="image">
                    <img :src="img.url" alt="image">
                </div>
            </li>
        </ul>
    </div>

</div>

<script src="js/main.js"></script>

</body>
</html>
